@import "src/helpers/scss/breakpoints.scss";

.container {
  position: absolute;
  padding-left: 20px;
  background: #fff;
  width: 100%;
  height: calc(100vh - 50px);

  @include respond-to('medium'){
    width: 380px;
    box-shadow: 0 0 20px #4a4a4a;
  }

  @include respond-to('large'){
    position: relative;
    flex: 0 0 380px;
    box-shadow: none;
    border-right: 1px solid #adabab;
  }
}

.enter {
  transform: translateX(-110%);
}

.enterActive {
  transform: translateX(0);
  transition: transform ease-in-out 500ms;
}

.exit {
  transform: translateX(0);
}

.exitActive {
  transform: translateX(-110%);
  transition: transform ease-in 500ms;
}