@import "src/helpers/scss/breakpoints.scss";

.container {
  padding: 10px;
  background: #fff;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  overflow-y: scroll;

  @include respond-to('medium'){
    padding: 30px;
  }
}