@import "../../helpers/scss/sharedMenuLink.scss";

.linkContainer {
  padding-left: 20px;
  overflow: hidden;
}

.icon {
  position: absolute;
  left: 18px;
  top: 18px;
  vertical-align: middle;
  transition: transform ease-in 200ms;

  &:hover {
    color: #007aff;
  }

  &.active {
    transform: rotate(90deg);
  }
}

.enter {
  max-height: 0;
  opacity: 0;
}

.enterActive {
  opacity: 1;
  max-height: 154px;
  transition: all ease-in-out 300ms;
}

.exit {
  opacity: 1;
  max-height: 154px;
}

.exitActive {
  opacity: 0;
  max-height: 0px;
  transition: all ease-in-out 300ms;
}